<!-- xml -->
<launch>
  <!-- BEGIN PIONEER 1 -->
  <group ns="pioneer1">
    <param name="poz_x" value="-2" />
    <param name="poz_y" value="0" />
    <param name="poz_theta" value="90" />
    <node pkg="coords_sender" type="goal_sender_simple" respawn="false" name="goal_sender_simple" output="screen" args="1"/>
  </group>

  <group ns="pioneer2">
    <param name="poz_x" value="-2" />
    <param name="poz_y" value="1" />
    <param name="poz_theta" value="90" />
    <node pkg="coords_sender" type="goal_sender_simple" respawn="false" name="goal_sender_simple" output="screen" args="1"/>
  </group>

</launch>

  

