<launch>
  <!-- BEGIN PIONEER 1 -->
  <group ns="pioneer1">
    <param name="poz_x" value="-2" />
    <param name="poz_y" value="0" />
    <param name="poz_theta" value="90" />
    <node pkg="coords_sender" type="goal_sender" respawn="false" name="goal_sender" output="screen"/>
  </group>
  <!-- BEGIN PIONEER 1 -->
  <group ns="pioneer2">
    <param name="poz_x" value="-2" />
    <param name="poz_y" value="0" />
    <param name="poz_theta" value="90" />
    <node pkg="coords_sender" type="goal_sender" respawn="false" name="goal_sender" output="screen"/>
  </group>
  <!-- BEGIN PIONEER 1 -->
  <group ns="pioneer3">
    <param name="poz_x" value="-2" />
    <param name="poz_y" value="0" />
    <param name="poz_theta" value="90" />
    <node pkg="coords_sender" type="goal_sender" respawn="false" name="goal_sender" output="screen"/>
  </group>
  <!-- END ROBOT 0 -->
</launch>

  

