<?xml version="1.0"?>
<launch>
  <!-- BEGIN PIONEER 1 -->
  <group ns="pioneer1">
    <param name="goal_x" value="-2" />
    <param name="goal_y" value="0" />
    <param name="goal_theta" value="20" />
    <node pkg="multi_nav" type="send_multiple_goal" respawn="false" name="send_multiple_goal" output="screen" args="1"/>
  </group>
  <!-- END ROBOT 0 -->

  <!-- BEGIN PIONEER 2 -->
  <group ns="pioneer2">
    <param name="goal_x" value="0" />
    <param name="goal_y" value="-2" />
    <param name="goal_theta" value="15" />
    <node pkg="multi_nav" type="send_multiple_goal" respawn="false" name="send_multiple_goal" output="screen" args="2"/>
  </group>
  <!-- END ROBOT 1 -->

</launch>

  

