<?xml version="1.0"?>
<launch>
  <arg name="rviz_name" default="irl"/>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="scan_tf" args="0.14 0 0.27 0 0 0 base_link camera_link"/>  

  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find pioneer_description)/urdf/pioneer_kinect.urdf.xacro'" />

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pioneer_description)/launch/mapping/$(arg rviz_name).rviz"/>

</launch>
