<?xml version="1.0"?>
<launch>

  <include file="$(find pioneer_nav)/launch/hector/includes/hector_slam.launch"/>

  <!-- Include move base launch file -->
  <!-- Use with Pioneer Gazebo simulation and Pioneer3dx robot platform -->
  <include file="$(find pioneer_nav)/launch/move_base_hector.launch"/>
<!--
  <include file="$(find nav_bundle)/launch/includes/hector_mapping/hector_localization.launch"/>
-->
  <!-- Recovery from stall -->
  <!--  <node pkg="pioneer_ros" type="move_base_recover" name="recovery_cmd_vel" output="screen"/>-->
  
  <!-- Move base clients for waypoint navigation -->
  <node pkg="simple_navigation_goals" type="base_link_navigation_client" name="base_link_goal_client" output="screen"/>
  <node pkg="simple_navigation_goals" type="map_navigation_client" name="map_goal_client" output="screen"/>
</launch>
