<?xml version="1.0"?>
<launch>
  <arg name="robot_name" />
	<arg name="move_base_type"      default="move_base" doc="opt: move_base, move_base_test" />
	<arg name="base_global_planner" default="NavfnROS" doc="GlobalPlanner, NavfnROS, CarrotPlanner" />
	<arg name="base_local_planner"  default="DWALocalPlanner" doc="TrajectoryPlannerROS, DWALocalPlanner, EBandLocalPlanner, TebLocalPlannerROS" />
  <arg name="mcp_use"             default="false" />
  <arg name="real_robot_username" default="robot4" />
  <arg name="real_robot_address"  default="192.168.43.152" />

  <!--  Machine type -->
  <arg name="connect_robot_pc"    default="false" />
  <arg if="$(arg connect_robot_pc)"     name="machine_name" value="$(arg robot_name)" />
  <arg unless="$(arg connect_robot_pc)" name="machine_name" value="local_host" />


  <machine name="local_host" address="localhost" default="true" />
  <machine name="$(arg robot_name)" user="$(arg real_robot_username)" address="$(arg real_robot_address)" env-loader="~/catkin_ws/devel/remote_env_loader.sh" />

  
  <!-- Make sure initial pose matches $(find pioneer_description)/launch/pioneers.launch arg init_pose -->
  <group ns="$(arg robot_name)">
		<node machine="$(arg machine_name)" name="$(arg move_base_type)" pkg="$(arg move_base_type)" type="$(arg move_base_type)" respawn="true" output="screen">
			
			<!-- move_base params -->
    	<rosparam file="$(find pioneer_nav2d)/param/move_base.yaml" command="load" />

			<!-- base_global_planner option -->
			<param name="base_global_planner" value="global_planner/GlobalPlanner"  if="$(eval base_global_planner == 'GlobalPlanner')" />
			<param name="base_global_planner" value="navfn/NavfnROS"                if="$(eval base_global_planner == 'NavfnROS')"/>
			<param name="base_global_planner" value="carrot_planner/CarrotPlanner"  if="$(eval base_global_planner == 'CarrotPlanner')" />
			<!-- base_local_planner params -->
			<rosparam file="$(find pioneer_nav2d)/param/global_planner/$(arg base_global_planner).yaml" command="load" />

			<!-- base_local_planner option -->
			<param name="base_local_planner"  value="base_local_planner/TrajectoryPlannerROS" if="$(eval base_local_planner == 'TrajectoryPlannerROS')" />
			<param name="base_local_planner"  value="dwa_local_planner/DWAPlannerROS"         if="$(eval base_local_planner == 'DWALocalPlanner')" />
    	<param name="base_local_planner"  value="eband_local_planner/EBandPlannerROS"     if="$(eval base_local_planner == 'EBandLocalPlanner')" />
    	<param name="base_local_planner"  value="teb_local_planner/TebLocalPlannerROS"    if="$(eval base_local_planner == 'TebLocalPlannerROS')" />
			<!-- base_local_planner params -->
    	<rosparam file="$(find pioneer_nav2d)/param/local_planner/$(arg base_local_planner).yaml" command="load" />

			<!-- common_costmap params -->
    	<rosparam file="$(find pioneer_nav2d)/param/costmap/costmap_common_params.yaml" command="load" ns="global_costmap" />
    	<rosparam file="$(find pioneer_nav2d)/param/costmap/costmap_common_params.yaml" command="load" ns="local_costmap" />
			<rosparam file="$(find pioneer_nav2d)/param/costmap/global_costmap.yaml"        command="load" />
			<rosparam file="$(find pioneer_nav2d)/param/costmap/local_costmap.yaml"         command="load" />

			<!-- resets map topic -->
    	<remap from="map" to="/map" />

			<!-- mpc_controller -->
    	<param name="planner_frequency"   value="0.0"     if="$(eval mcp_use == 'true')" />
    	<param name="planner_patience"    value="5.0"     if="$(eval mcp_use == 'true')" />
    	<remap from="cmd_vel"             to="/fake_cmd"  if="$(eval mcp_use == 'true')" />
  	</node>
  </group>

</launch>
