<?xml version="1.0"?>
<!--
    - Base      : pioneer
    - 3d Sensor : kinect
--> 
<robot name="pioneer" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find pioneer_description)/urdf/robot_base/pioneer3dx.xacro"/>
  <xacro:include filename="$(find pioneer_description)/urdf/sensors/kinect.urdf.xacro"/>
  
  <pioneer3dx/>
  <sensor_kinect parent="base_link"/>
</robot>
