<?xml version="1.0"?>
<launch>
  <arg name="robot_name" />
  <arg name="init_pose" />

  <arg name="joint_state_gui" default="False" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_power)/urdf/pioneer3dx.urdf.xacro'">

  <!--  ROSARIA LAUNCHFILE          WIP -->
  <include file="$(find robot_power)/rosaria.launch">
    <arg name="urdf" value="$(arg urdf)"/>
    <arg name="joint_state_gui" value="$(arg joint_state_gui)" />
  </include>
  
  <node pkg = "rosaria" type = "RosAria" name = "RosAria">
		<param name="port" type="string" value="/dev/ttyS0" />
  </node>
  
  <!-- send fake joint values     WIP -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="FALSE"/>
    <remap from="robot_description" to="/robot_description"/>
  </node>

  <!-- Combine joint values       WIP -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="tf_prefix" type="string" value="$(arg robot_name)"> <!-- maybe i don't need it, tho -->
  </node>

  <!-- start sensor-->
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="camera" default="camera"/>
  </include>

  <!-- LASERSCAN LAUNCH-->
  <node name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect" > 
    <remap from="image" to="camera/depth/image_raw"/>
    <remap from="camera_info" to="camera/depth/camera_info"/>
    <param name="scan_height" value="10"/>
    <param name="output_frame_id" value="$(arg robot_name)/camera_depth_frame"/>
    <param name="range_min" value="0.1"/>
    <param name="range max" value="7.0"/>
    <param name="scan_height" value="400"/>
    <param name="dept_img_row_step" value="1"/>
    <param name="cam_model_update" value="false"/>
    <param name="sensor_mount_height" value="0.2"/>
    <param name="sensor_tilt_angle" value="5.0"/>
    <param name="ground_remove_en" value="true"/>
    <param name="ground_margin" value="0.05"/>
    <param name="tilt_compensation_en" value="true"/>
	 <remap from="scan" to="scan"/>
   </node>
   <node pkg="tf2_ros" type="static_transform_publisher" name="scan_tf" args="0.14 0 0.27 0 0 0 $(arg robot_name)/base_link $(arg robot_name)/camera_rgb_frame" />


</launch>
