<?xml version="1.0"?>
<launch>
  <arg name="pioneer_number" />

  <group ns="pioneer$(arg pioneer_number)">
	  <node name="see" pkg="laserscan_visualizer" type="visualizer" > 
	  	<!--><remap from="image" to="/camera/depth/image_raw"/>
	  	<remap from="camera_info" to="/camera/depth/camera_info"/>
      <rosparam command="load" file="$(find laserscan_kinect)/config/params.yaml" /><-->
	  </node>
  </group>

</launch>

