<?xml version="1.0"?>
<launch>
 <arg name="robot_name"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pioneer_nav)/launch/for_kinect/config/$(arg robot_name)/costmap_common_params_kinect.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pioneer_nav)/launch/for_kinect/config/$(arg robot_name)/costmap_common_params_kinect.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pioneer_nav)/launch/for_kinect/config/$(arg robot_name)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pioneer_nav)/launch/for_kinect/config/$(arg robot_name)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pioneer_nav)/launch/for_kinect/config/base_local_planner_params.yaml" command="load" />
    <!-- NOTE: Use move_base_global.launch for globally qualified map topic -->
    
  	<!-- START: Use with estop -->
<!--	  <remap from="cmd_vel" to="cmd_vel_estop"/>-->
    <!-- END: Use with estop -->
  </node>
</launch>
