<?xml version="1.0"?>
<launch>
  <arg name="pioneer_number" />

  <group ns="pioneer$(arg pioneer_number)">

    <node pkg="pioneer_to_goal" type="map_navigation" respawn="false" name="map_navigation" output="screen">
      <param name="poz_x" value="$(eval -1. + (0.5 * arg('pioneer_number')))"/>
      <param name="poz_y" value="$(eval 1. - (0.5 * arg('pioneer_number')))"/>
      <param name="poz_theta" value="$(eval 0.2 * arg('pioneer_number'))"/>
    </node>
  </group>

</launch>

  

