<!-- Launch file to move the robot from it initial position to a goal -->

<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pioneer_nav)/move/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find pioneer_nav)/move/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find pioneer_nav)/move/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find pioneer_nav)/move/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find pioneer_nav)/move/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find pioneer_nav)/move/move_base_params.yaml" command="load"/>
    <!--remap from="cmd_vel" to="/cmd_vel" /-->
  </node>
</launch>
