<?xml version="1.0"?>
<launch>
  <arg name="robot_name"/>
  <arg name="init_pose"/>
  <arg name="pioneer_model" default="multi_robot_base/pioneer3dx"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find pioneer_description)/urdf/$(arg pioneer_model).xacro'"/>
 
  <node name="rosaria" pkg="rosaria" type="RosAria">
  	<param name="port" type="string" value="/dev/ttyS0" />
    <param name="tf_prefix" type="string" value="$(arg robot_name)" />
    <remap from="rosaria/pose" to="odom"/>
    <remap from="rosaria/cmd_vel" to="cmd_vel"/>
    <param name="odom_frame" type="string" value="$(arg robot_name)/odom" />    
    <param name="base_link_frame" type="string" value="$(arg robot_name)/base_link" />
    <param name="sonar_frame" type="string" value="$(arg robot_name)/sonar" />
	</node>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="FALSE"/>
    <remap from="robot_description" to="/robot_description"/>
  </node>
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="tf_prefix" type="string" value="$(arg robot_name)" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="sonar_scan" args="0 0 0 0 0 0 $(arg robot_name)/base_link $(arg robot_name)/sonar" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_tf" args="0 0 0 0 0 0 map $(arg robot_name)/odom" />



</launch>
