<?xml version="1.0"?>
<launch>
  <arg name="tf_name"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find pioneer_nav2d)/param/amcl.yaml" command="load"/>
    <param name="base_frame_id" value="$(arg tf_name)/base_link"/> 
    <param name="odom_frame_id" value="$(arg tf_name)/odom"/> 
    <param name="global_frame_id" value="/map" />
    <remap from="base_link" to="base_link"/>
    <remap from="scan" to="scan"/>    
    <remap from="static_map" to="/static_map" /> 
    <remap from="map" to="/map" />
  </node>

</launch>
