<?xml version="1.0"?>
<launch>
  <arg name="movement_type" default="fast"/>
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_link"/>
  <arg name="global_frame_id" default="/map"/>
  <arg name="odom_topic" default="odom" />

  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find pioneer_nav2d)/param/$(arg movement_type)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pioneer_nav2d)/param/$(arg movement_type)/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find pioneer_nav2d)/param/$(arg movement_type)/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find pioneer_nav2d)/param/$(arg movement_type)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pioneer_nav2d)/param/$(arg movement_type)/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find pioneer_nav2d)/param/$(arg movement_type)/move_base_params.yaml" command="load" />
    <!--><rosparam file="$(find pioneer_nav2d)/param/global_planner_params.yaml" command="load" />
    <rosparam file="$(find pioneer_nav2d)/param/navfn_global_planner_params.yaml" command="load" /><-->
    
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>
    
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="map" to="/map" />
  </node>

</launch>
